<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
.footer {
position:fixed;
left:480px;
bottom:0px;
width: 100%;
text-align: center;
}
.wrapper {
width: 100%;
padding: 15px;

}
</style>
</head>
<body>
<div class='footer'>
	<nav class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
		<div class="col-md-6 d-flex align-items-center">
			<p>
				<span class="text-muted">&copy; 2022 Movit Company, Inc
					&nbsp;&nbsp; 관리자: 2조-삼삼오오 </span> <br /> 
				<span class="text-muted">영업일: 월-금 9:30 ~ 18:30, 토-일 휴무</span> <br /> 
				<span class="text-muted">☏ 02-777-1234</span>
			</p>
			<br />
	</nav>
</div>
</body>
</html>