<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div>
	<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);">
		 <ol class="breadcrumb">
			 <li class="breadcrumb-item">
			 	<a href="/">Home(미구현)</a></li>
			 <li class="breadcrumb-item">
			 	<a href="">영화추천서비스(미구현)</a></li>
			 <li class="breadcrumb-item">
			 	<a href="/notice">공지사항</a></li>
			 <li class="breadcrumb-item active">
			 	<a href="">Q&A(미구현)</a></li>
		 </ol>
	</nav>
</div>
</body>
</html>