<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
입원 환자 데이터를 입력해 생사 여부 확인을 위한 자료 입력
<pre>
	KIM = 김호중 컴백 무비 빛이 나는 사람 PART 1. 다시 당신 곁으로
	NOPE = 놉
	LIMIT = 리미트
	BULLET = 불릿 트레인
	EMERGE = 비상선언
	WILOVE = 사랑할 땐 누구나 최악이 된다
	SEOUL = 서울대작전
	ERROR = 시맨틱 에러: 더 무비
	ALIEN = 외계+인 1부
	LOTTO = 육사오(6/45)
	CARTER = 카터
	TOP = 탑건: 매버릭
	HAN = 한산: 용의 출현
	HUNT = 헌트
	LEAVE = 헤어질 결심

</pre>
<br>
<form action="/recommend_movie" method="post">{% csrf_token %}
<table border="1">
  <tr>
  	<th>KIM</th><th>NOPE</th><th>LIMIT</th><th>BULLET</th><th>EMERGE</th><th>WILOVE</th><th>SEOUL</th><th>ERROR</th>
  	
  </tr>
  <tr>
    <td><input type="text" name="KIM" value="0" size="2"></td>
    <td><input type="text" name="NOPE" value="0" size="2"></td>
    <td><input type="text" name="LIMIT" value="0" size="2"></td>
    <td><input type="text" name="BULLET" value="0" size="2"></td>
    <td><input type="text" name="EMERGE" value="0" size="2"></td>
    <td><input type="text" name="WILOVE" value="0" size="2"></td>
    <td><input type="text" name="SEOUL" value="0" size="2"></td>
    <td><input type="text" name="ERROR" value="0" size="2"></td>
  </tr>  
  <tr>
    <th>ALIEN</th><th>LOTTO</th><th>CARTER</th><th>TOP</th><th>HAN</th><th>HUNT</th><th>LEAVE</th>
  </tr>
  <tr>
    <td><input type="text" name="ALIEN" value="0" size="2"></td>
    <td><input type="text" name="LOTTO" value="0" size="2"></td>
    <td><input type="text" name="CARTER" value="0" size="2"></td>
    <td><input type="text" name="TOP" value="0" size="2"></td>
    <td><input type="text" name="HAN" value="0" size="2"></td>
    <td><input type="text" name="HUNT" value="0" size="2"></td>
    <td><input type="text" name="LEAVE" value="0" size="2"></td>
  </tr>
  <tr>
  	<td colspan="6" style="text-align: center">
  		<input type="submit" value="확인">
  	</td>
  </tr>
</table>
</form>
</body>
</html>